<ion-header>
  <ion-toolbar>
    <ion-title>{{id === 0 ? 'Ajouter' : 'editer'}} un produit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="produit">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <form [formGroup]="formProduit">
         
        <ion-item>
            <ion-label>Designation</ion-label>
            <ion-input formControlName="designation"></ion-input>
        </ion-item>
        <ion-item> 
            <ion-label>Quantite</ion-label>
            <ion-input  type="number" formControlName="quantite" ></ion-input>
        </ion-item>
        <ion-item> 
            <ion-label>PU</ion-label>
            <ion-input type="number" formControlName="prix" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >Fournisseur</ion-label>
            <ion-select  formControlName="idFrns" >
                <ion-select-option *ngFor="let fournisseur of listeFournisseur?.fournisseurs" value="{{fournisseur.id}}">{{fournisseur.nomFrns}}</ion-select-option> 
            </ion-select>
        </ion-item>

        <ion-button *ngIf="id === 0" expand="block" (click) = "addProduit()"  [disabled]="formProduit.invalid"> Enregistrer </ion-button>
        <ion-button *ngIf="id !== 0" expand="block" (click) = "updateProduit()"  [disabled]="formProduit.invalid">Sauvegarder</ion-button>
      </form>
    </ion-card>
</ion-content>
 