
<ion-header>
  <ion-toolbar>
    <ion-title>Panier d'achat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="achat">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-card>
        <ion-item>
         <ion-label>
              <h2><strong>INFORMATION DE PANIER</strong></h2>
              <h2><strong>Nombre de sacs: {{nombreSac}} sacs</strong></h2>
              <h2><strong>Total: {{somme}} ariary</strong></h2>
         </ion-label>
        </ion-item>
      </ion-card>
      <ion-card *ngFor="let panier of listeAchat?.paniers">
        <ion-item-sliding >
          <ion-item>
            <ion-label>
              <h2><strong>Produit : {{panier.designation}}</strong></h2>
              <h2>PU: {{panier.prix}} ariary/sac</h2>
              <h2>Quantité d'achat: {{panier.quantiteAchat}}</h2>
              <h2>Total: {{panier.totalAchat}}</h2>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
     </ion-card>
    </ion-list>
</ion-content>