<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Provision</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/liste-reaprov">
        <ion-icon name="eye" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let produit of listeProduit?.produits">
      <ion-item-sliding >
        
          

          <ion-item>
            <ion-label>
              <h2><strong>{{produit.designation}}</strong></h2>
              <h2>fournisseur: {{produit.nomFrns}}</h2>
              <h2>stock: {{produit.quantite}}</h2>
              
            </ion-label>
            <div class="item-note" item-end>
               <ion-badge color="warning" routerLink="/add-reaprov/{{produit.id}}">+</ion-badge>
                
            </div>
          </ion-item>


          <ion-item-options side="end">
            <ion-item-option color="warning" routerLink="/add-reaprov/{{produit.id}}"> Reaprovisioner</ion-item-option>
          </ion-item-options>

      </ion-item-sliding>
     </ion-card>
    
  </ion-list>
</ion-content>