<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Achat</ion-title>
    <ion-badge style="margin-right:10px;" slot="end" color="primary" routerLink="add-achat"> <ion-icon name="cart"></ion-icon> {{somme}} Ar</ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let produit of listeProduit?.produits">
      <ion-item-sliding >
         

          <ion-item>
            <ion-label>
              <h2><strong>{{produit.designation}}</strong></h2>
              <p>fournisseur: {{produit.nomFrns}}</p>
              <p>stock: {{produit.quantite}}</p>
              <p>pu: {{produit.prix}} ariary/sac</p>
            </ion-label>
            <div class="item-note" item-end>
                <ion-icon color="primary" name="cart" routerLink="/add-panier/{{produit.id}}"></ion-icon>
            </div>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="primary" >acheter</ion-item-option>
          </ion-item-options>

      </ion-item-sliding>
     </ion-card>
    
  </ion-list>
</ion-content>
