<ion-header>
  <ion-toolbar>
    <ion-title>{{id === 0 ? 'Ajouter' : 'editer'}} un client</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="fournisseur">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <form [formGroup]="formClient">
         <ion-item>
            <ion-label >Nom: </ion-label>
            <ion-input formControlName="nomCli" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>adresse: </ion-label>
            <ion-input formControlName="adresseCli"></ion-input>
        </ion-item>
        <ion-item> 
            <ion-label>Telephone:</ion-label>
            <ion-input formControlName="telCli"></ion-input>
        </ion-item>
        <ion-button *ngIf="id === 0" expand="block" (click) = "addClient()" [disabled]="formClient.invalid"> Enregistrer </ion-button>
        <ion-button *ngIf="id !== 0" expand="block" (click) = "updateClient()" [disabled]="formClient.invalid">Sauvegarder</ion-button>
      </form>
    </ion-card>
</ion-content>
 