<ion-header>
  <ion-toolbar>
    <ion-title>{{id === 0 ? 'Ajouter' : 'editer'}} un fournisseur</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="fournisseur">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <form [formGroup]="formFournisseur">
         <ion-item>
            <ion-label >Nom </ion-label>
            <ion-input formControlName="nomFrns" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>adresse </ion-label>
            <ion-input formControlName="adresseFrns"></ion-input>
        </ion-item>
        <ion-item> 
            <ion-label>Telephone</ion-label>
            <ion-input formControlName="telFrns"></ion-input>
        </ion-item>
        <ion-button *ngIf="id === 0" expand="block" (click) = "addFournisseur()" [disabled]="formFournisseur.invalid"> Enregistrer </ion-button>
        <ion-button *ngIf="id !== 0" expand="block" (click) = "updateFournisseur()" [disabled]="formFournisseur.invalid">Sauvegarder</ion-button>
      </form>
    </ion-card>
</ion-content>
 