<ion-header>
  <ion-toolbar>
    <ion-title>Reaprovisionnement</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="reaprov">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <form [formGroup]="formReaprov">
          <ion-item>
            <ion-label>
                <h2>Designation : {{designation}}</h2>
                <h2>Fournisseur : {{nomFrns}}</h2>
                <h2>Stock : {{stock}}</h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Quantité de provision</ion-label>
            <ion-input type="number" formControlName="quantiteReap" name="quantiteReap" ></ion-input>
         </ion-item>
         <ion-button expand="block" type="submit" (click) = "reaproviser()"  [disabled]="formReaprov.invalid"> Enregistrer </ion-button>
         
      </form>

    </ion-card>
</ion-content>
