<ion-header>
  <ion-toolbar>
    <ion-title>Historiques</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="reaprov">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of listeReaprov?.reaprovises">
      <ion-item-sliding >
          <ion-item>
            <ion-label>
              <h2><strong>Date: {{item.dateReap}}</strong></h2>
              <h2> {{item.designation}}</h2>
              <h2> En stock: {{item.quantite}} sacs</h2>
              <h2> Prix: {{item.prix}} ariary/sacs</h2>
              <h2> Quantité:{{item.quantiteReap}}</h2>
              <h2> Total: {{item.totalReap}} ariary</h2>
            </ion-label> 
          </ion-item>
      </ion-item-sliding>
     </ion-card>
  </ion-list>
</ion-content>
