<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produit</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-produit">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let produit of listeProduit?.produits">
      <ion-item-sliding >
        
          <ion-item-options side="start">
            <ion-item-option color="primary" routerLink="/update-produit/{{produit.id}}">Modifier</ion-item-option>
          </ion-item-options>

          <ion-item>
            <ion-label>
              <h2><strong>{{produit.designation}}</strong></h2>
              <p>fournisseur: {{produit.nomFrns}}</p>
              <p>stock: {{produit.quantite}}</p>
              <p>pu: {{produit.prix}} ariary/sac</p>
            </ion-label>
            <div class="item-note" item-end>
               <!-- <ion-icon color="primary" name="create" routerLink="/update-fournisseur/{{produit.id}}"></ion-icon>
                <ion-icon color="danger" name="trash"></ion-icon> -->
            </div>
          </ion-item>


          <ion-item-options side="end">
            <ion-item-option color="danger" (click) ="deleteProduit(produit.id)" >Supprimer</ion-item-option>
          </ion-item-options>

      </ion-item-sliding>
     </ion-card>
    
  </ion-list>
</ion-content>
