
<ion-header>
  <ion-toolbar>
    <ion-title>Saisir quantité </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="achat">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <form [formGroup]="formPanier">
          <ion-item>
            <ion-label>
                <h2>Designation : {{designation}}</h2>
                <h2>Fournisseur : {{nomFrns}}</h2>
                <h2>Stock : {{stock}}</h2>
                <h2>Prix : {{prix}}</h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Quantité d'achat:</ion-label>
            <ion-input type="number" formControlName="quantiteAchat" name="quantiteAchat" ></ion-input>
         </ion-item>
         <ion-button expand="block" type="submit" (click) = "addPanier()"  [disabled]="formPanier.invalid"> Enregistrer </ion-button>
         
      </form>

    </ion-card>
</ion-content>