<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fournisseur</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-fournisseur">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let fournisseur of listeFournisseur?.fournisseurs">
      <ion-item-sliding >
        
          <ion-item-options side="start">
            <ion-item-option color="primary" routerLink="/update-fournisseur/{{fournisseur.id}}">Modifier</ion-item-option>
          </ion-item-options>

          <ion-item>
            <ion-label>
              <h2><strong>Nom: {{fournisseur.nomFrns}}</strong></h2>
              <p>Adresse: {{fournisseur.adresseFrns}}</p>
              <p>Telephone: {{fournisseur.telFrns}}</p>
            </ion-label>
            <div class="item-note" item-end>
               <!-- <ion-icon color="primary" name="create" routerLink="/update-fournisseur/{{fournisseur.id}}"></ion-icon>
                <ion-icon color="danger" name="trash"></ion-icon> -->
            </div>
          </ion-item>


          <ion-item-options side="end">
            <ion-item-option color="danger" (click) ="deleteFournisseur(fournisseur.id)" >Supprimer</ion-item-option>
          </ion-item-options>

      </ion-item-sliding>
     </ion-card>
    </ion-list>
</ion-content>
